body {
  background-color: #edeff2;
  font-family: 'Open Sans', sans-serif;
  color: #6a859c;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #676770;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  text-align: center;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #676770;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 7px;
  text-transform: uppercase;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #676770;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
}

.button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 12px 30px;
  float: right;
  border-radius: 4px;
  background-color: #69b9ff;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #2e9dff;
}

.button.w--current {
  background-color: #2e80b6;
}

.button.full-width {
  display: block;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.button.tab {
  margin-right: 8px;
  margin-left: 8px;
  background-color: #92a0ad;
}

.button.tab:hover {
  background-color: #2e80b6;
}

.button.tab.w--current {
  background-color: #2e80b6;
}

.button.btn-btn-default.add-event {
  display: inline-block;
  float: right;
}

.navigation-link {
  float: left;
  clear: none;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #676770;
  text-align: justify;
}

.navigation-link:hover {
  color: #2e9dff;
}

.navigation-link.cart {
  margin-top: 5px;
  padding-top: 4px;
  padding-right: 24px;
  padding-left: 17px;
  background-image: url('../images/shoppingCart.png');
  background-position: 50% -109%;
  background-size: 45px 45px;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.navigation-bar {
  float: none;
  border-bottom: 0px none #000;
  background-color: #fff;
}

.navigation-menu {
  margin-right: 120px;
}

.brand-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #69b9ff;
  font-size: 25px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.brand-link {
  padding-top: 16px;
  padding-bottom: 16px;
}

.section {
  position: relative;
  padding: 80px 10px;
  border: 1px solid #000;
  background-color: #fff;
  text-align: center;
}

.section.accent {
  background-color: #192024;
}

.white-box {
  padding: 15px;
  border: 1px solid #dcebf7;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}

.white-box.transparent {
  border-style: none;
  background-color: transparent;
}

.hero-section {
  padding-top: 242px;
  padding-bottom: 242px;
}

.hero-section.centered {
  padding-top: 195px;
  padding-bottom: 195px;
  border-bottom: 4px solid #69b9ff;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/cl-adventure-2.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/cl-adventure-2.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  text-align: center;
}

.hero-section.centered.addevent {
  padding-top: 130px;
  padding-bottom: 130px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/adventures-by-disney-north-america-wyoming-hero-01-scenic-horseback-ride.jpg'), url('../images/cl-adventure-2.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/adventures-by-disney-north-america-wyoming-hero-01-scenic-horseback-ride.jpg'), url('../images/cl-adventure-2.jpg');
  background-position: 0px 0px, 50% 50%, 50% 50%;
  background-size: auto, cover, cover;
}

.hero-section.centered.reportevent {
  padding-top: 130px;
  padding-bottom: 130px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../images/usertesting.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../images/usertesting.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.hero-section.centered.cart {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../images/cart.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../images/cart.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, repeat;
  background-attachment: scroll, scroll;
}

.hero-heading {
  margin-bottom: 30px;
  color: #fff;
  font-size: 60px;
  line-height: 60px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.hero-heading.cart {
  font-size: 30px;
}

.hero-subheading {
  margin-bottom: 40px;
  color: #2e9dff;
  font-size: 25px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.hollow-button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  color: #fff;
  line-height: 21px;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.hollow-button:hover {
  border-color: #2e9dff;
  color: #2e9dff;
}

.hollow-button.all-caps {
  text-transform: uppercase;
}

.section-heading {
  width: 390px;
  height: 44px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  color: #fff;
  font-weight: 600;
  text-align: left;
}

.section-heading.centered {
  color: #676770;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.section-heading.centered.white {
  color: #fff;
}

.section-heading.centered.white.welcomepage {
  width: auto;
}

.section-heading.centered.welcomepage {
  width: auto;
}

.section-subheading {
  color: #192024;
  font-size: 24px;
  font-weight: 400;
}

.section-subheading.center {
  color: #8e8e9c;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  letter-spacing: 3px;
  text-transform: lowercase;
}

.section-subheading.center.off-white {
  padding-bottom: 0px;
  color: #e8e8e8;
  font-style: normal;
}

.section-title-group {
  margin-bottom: 60px;
}

.form-field {
  height: 45px;
  margin-bottom: 17px;
  border: 0px solid #000;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(64, 64, 71, .3);
}

.form-field.text-area {
  height: 110px;
}

.footer {
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer.center {
  border-top: 1px solid #dbdbdb;
  background-color: #383838;
  text-align: center;
}

.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #9e9e9e;
  font-size: 16px;
}

.grid-image {
  display: block;
  width: 35%;
  margin: 20px auto;
  padding: 20px;
  border: 10px solid #fff;
  border-radius: 50%;
  background-color: #69b9ff;
  box-shadow: 0 0 0 1px #2e9dff;
}

.info-icon {
  float: left;
}

.footer-link {
  display: block;
  margin-bottom: 6px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d5d5e0;
  color: #668cad;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(0, 140, 255, .84);
}

.footer-link.with-icon {
  margin-left: 30px;
}

.tab-menu {
  margin-bottom: 40px;
  text-align: center;
}

.tabs-wrapper {
  text-align: center;
}

.fullwidth-image {
  width: 100%;
  margin-bottom: 20px;
}

.white-text {
  margin-bottom: 20px;
  color: #fff;
}

.form {
  margin-top: 40px;
}

.input-group {
  width: 624px;
}

.searchdiv {
  display: inline-block;
  width: 580px;
  height: 54px;
  float: none;
  clear: none;
  text-align: center;
}

.searchbutton {
  float: right;
}

.searchbuttondiv {
  display: inline-block;
  width: 182px;
  height: 0px;
  float: right;
}

.searchtextdiv {
  display: block;
  width: 425px;
  height: 46px;
  float: left;
}

.searchtext {
  width: 441px;
  height: 45px;
  font-size: 21px;
  text-transform: capitalize;
}

.navbar-brand {
  display: inline-block;
  margin-top: 4px;
  margin-right: 0px;
  margin-left: 36px;
  padding-right: 0px;
  float: left;
  background-image: -webkit-linear-gradient(270deg, #02172a, #02172a), -webkit-linear-gradient(270deg, #000, #fff);
  background-image: linear-gradient(180deg, #02172a, #02172a), linear-gradient(180deg, #000, #fff);
}

.map {
  padding-top: 0px;
  float: none;
}

.btn-btn-default-dropdown-toggle {
  left: 0px;
  top: 2px;
  height: 51px;
  float: none;
}

.dropdown-bar {
  height: 51px;
  padding-bottom: 0px;
  background-image: -webkit-linear-gradient(270deg, #8094a2, #8094a2);
  background-image: linear-gradient(180deg, #8094a2, #8094a2);
  color: #1783e2;
}

.button-dropdown {
  height: 51px;
  border: 1px solid #000;
}

.btn-dropdown-heading {
  color: #fff;
}

.search {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  float: none;
}

.search-options {
  float: left;
  clear: left;
}

.serach-options {
  position: relative;
  overflow: scroll;
  height: 201px;
  float: none;
}

.search-option-form {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  overflow: visible;
  width: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  float: none;
  border: 1px solid #676770;
  background-color: #fff;
  text-align: left;
  text-decoration: none;
}

.price-option {
  border-top-color: #676770;
}

.activity-option {
  height: auto;
  padding-left: 10px;
  border-bottom: 1px solid #8e8e9c;
}

.map-div {
  display: block;
  float: none;
  clear: none;
}

.search-column {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: #fff;
  direction: ltr;
  text-align: left;
}

.map-column {
  margin-right: 0px;
  margin-left: 0px;
  background-color: #fff;
}

.results-section {
  position: static;
  direction: ltr;
  text-align: left;
}

.user-interview {
  font-style: italic;
}

.nav-bar-links-container {
  display: inline;
  margin-right: 0px;
  margin-left: 0px;
}

.search-result {
  border: 2px solid #8e8e9c;
  border-radius: 8px;
  background-color: #69b9ff;
  background-image: -webkit-linear-gradient(270deg, #3d88ca, #3d88ca);
  background-image: linear-gradient(180deg, #3d88ca, #3d88ca);
}

.description {
  display: inline-block;
}

.adventure-description {
  margin-right: 10px;
  margin-left: 10px;
  color: #fff;
  font-weight: 600;
}

.reviews {
  left: 10px;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 0px;
  background-color: transparent;
  color: #fff;
  text-decoration: underline;
}

.icon {
  position: static;
  overflow: visible;
  margin-top: 10px;
  margin-left: 5px;
  float: none;
}

.adventure-item-div {
  display: inline-block;
  width: 400px;
  height: 200px;
  margin: 10px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/kayak.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/kayak.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.adventure-results-image {
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.search-results-are {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 400;
  text-align: left;
}

.event-heading {
  width: 390px;
  height: 44px;
  margin-bottom: 0px;
  margin-left: 10px;
  color: #fff;
  font-weight: 600;
}

.event-summary-section {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.event-details-section {
  margin-bottom: 30px;
  padding-right: 185px;
}

.event-summary-background-div {
  display: block;
  width: auto;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .85), rgba(0, 0, 0, .85)), url('../images/kayak.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .85), rgba(0, 0, 0, .85)), url('../images/kayak.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.event-summary-col1 {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.event-summary-img-slider {
  height: 400px;
  margin-top: 45px;
  margin-bottom: 45px;
  margin-left: 0px;
}

.event-summary-img1 {
  background-image: url('../images/kayak.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.event-summary-img2 {
  background-image: url('../images/Adventure2.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.event-summary-img3 {
  background-image: url('../images/Kayaking.13.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.event-summary-details-div {
  margin-top: 79px;
  margin-left: 10px;
}

.event-summary-details-heading {
  border: 1px none #000;
  color: #fff;
  font-weight: 600;
}

.event-summary-heading {
  margin-top: 0px;
  margin-bottom: 12px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #ecf0f1;
  color: #fff;
  font-weight: 600;
}

.event-summary-rating-review {
  display: inline-block;
  margin-top: 0px;
  margin-left: 43px;
  color: #ecf0f1;
  font-weight: 400;
}

.event-summary-rating-review-div {
  margin-bottom: 0px;
}

.event-summary-rating-img {
  margin-bottom: 5px;
}

.event-summary-ticket-heading {
  color: #ecf0f1;
  font-weight: 400;
}

.event-summary-button {
  margin-top: 10px;
  margin-left: 0px;
  border-radius: 10px;
}

.event-details-div {
  margin-top: 30px;
  margin-left: 150px;
}

.event-details-heading {
  border-bottom: 1px solid #676770;
  font-weight: 600;
}

.event-details-button {
  display: inline;
  margin-left: 1px;
  float: left;
  clear: none;
  border-radius: 10px;
  text-align: left;
}

.event-map-section {
  margin: 0px 185px 20px 150px;
  padding-top: 20px;
}

.event-add-review-div {
  margin-right: 185px;
  margin-left: 150px;
  padding-right: 0px;
}

.event-details-view-review {
  margin-top: 30px;
  margin-right: 185px;
  margin-left: 150px;
}

.event-details-user-review {
  margin-top: 0px;
  margin-bottom: 15px;
  padding-top: 10px;
}

.events-map {
  border: 1px solid #49647b;
}

.event-summary-row {
  margin-right: 185px;
  margin-left: 150px;
}

.aventura-icon {
  margin-left: 35px;
  float: left;
}

.add-event-div {
  border-top: 1px solid #000;
  background-color: #fff;
}

.add-event-heading {
  width: 350px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 160px;
  padding-top: 30px;
  border-width: 0px;
  border-bottom-style: none;
  border-bottom-color: #192024;
  font-weight: 600;
}

.add-event-form {
  width: 800px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 300px;
  padding-top: 35px;
  text-align: left;
}

.add-event-button {
  margin-top: 35px;
  margin-bottom: 25px;
}

.add-event-select-city {
  width: 200px;
}

.add-event-timings {
  display: inline-block;
  width: 80px;
  margin-right: 10px;
}

.dropdownmenu {
  margin-top: 65px;
}

.nav-dropdown-link {
  background-color: #fff;
}

.cartheading {
  border-bottom: 1px solid #000;
  font-size: 25px;
  font-weight: 600;
}

.checkoutbutton {
  position: static;
  display: block;
  width: auto;
  text-align: center;
}

.bagsubheading {
  border-bottom: 1px dashed #000;
  font-weight: 400;
}

.bagsubheading.date {
  margin-left: 20px;
  border-bottom-width: 0px;
}

.itemdetailheading {
  font-size: 23px;
  font-weight: 400;
}

.shoppingbagrow {
  margin: 15px 180px 50px;
}

.itemdetailssection {
  margin-top: 20px;
}

.itemdeletesection {
  border-top: 1px dashed #000;
}

html.w-mod-js *[data-ix="fade-in-bottom-page-loads"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="fade-in-left-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-right-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-top-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}

html.w-mod-js *[data-ix="fade-in-bottom-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="bounce-in-scroll-in"] {
  opacity: 0;
  -webkit-transform: scale(0.6000000000000001, 0.6000000000000001);
  -ms-transform: scale(0.6000000000000001, 0.6000000000000001);
  transform: scale(0.6000000000000001, 0.6000000000000001);
}

html.w-mod-js *[data-ix="scale-on-scroll"] {
  opacity: 0;
  -webkit-transform: scale(0.01, 0.01);
  -ms-transform: scale(0.01, 0.01);
  transform: scale(0.01, 0.01);
}

@media (max-width: 991px) {
  .navigation-link {
    color: hsla(0, 0%, 100%, .52);
  }
  .navigation-link.w--current {
    color: #fff;
  }
  .hamburger-button.w--open {
    background-color: #3b99d9;
  }
  .navigation-menu {
    background-color: #3b99d9;
  }
  .hero-section.centered {
    padding-top: 144px;
    padding-bottom: 144px;
  }
  .grid-image {
    width: 50%;
    padding: 15px;
  }
}

@media (max-width: 767px) {
  .button.full-width {
    margin-right: auto;
    margin-left: auto;
  }
  .button.tab {
    font-size: 12px;
  }
  .white-box {
    margin-bottom: 30px;
  }
  .hero-section.centered {
    padding-top: 119px;
    padding-bottom: 119px;
  }
  .hero-heading {
    margin-bottom: 15px;
    font-size: 50px;
  }
  .hero-subheading {
    font-size: 18px;
  }
  .form-field.text-area {
    display: block;
  }
  .grid-image {
    width: 20%;
    padding: 20px;
  }
  .spc {
    margin-bottom: 30px;
  }
}

@media (max-width: 479px) {
  .button {
    margin-bottom: 25px;
  }
  .hero-section.centered {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section-subheading.center {
    line-height: 30px;
  }
  .grid-image {
    width: 35%;
  }
  .searchtext.form-control {
    overflow: visible;
  }
}

